<div id="sidebar">
<ul class="sideNav">
<li><a href="/<%= params[:controller]%>/" <%= params[:action] == 'index' ? 'class="active"' : ''%>  >Lista</a></li>
<li><a href="/<%= params[:controller]%>/new" <%= params[:action] == 'new' ? 'class="active"' : ''%> >novo</a></li>
</ul>
</div>
 
