<% @anuncios.each do |a|%>
<div class="produtos">
  <%= image_tag 'carro.jpg'%>
  <p><%= truncate('a', 60) %></p>
  <%= link_to 'Confira ... ', :controller => 'anuncios',:action => 'produto', :anuncio_id => a.id %>
</div>
<%end%>
